* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "serif";
  background-color: #c9c9c9;
}

ul,
li {
  list-style: none;
  padding: 0;
}

.imageTab {
  position: absolute;
  width: 375px;
  height: 828px;
  top: 65px;
  right: 20px;
}
.tri {
  height: 5px;
}
.image_container {
  width: 100%;
  height: 823px;
  border-radius: 26px;
  overflow: hidden;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  background-color: rgba(255, 255, 255, 0.5);
}

.top-content {
  height: 50px;
  padding: 16px 16px 8px 16px;
  border-bottom: 1px solid #c9c9c9;
  background-color: rgba(255, 255, 255, 0.4);
}

.tab-content {
  height: 772px;
}

.tab-pane {
  position: relative;
}
.nav {
  width: max-content;
  font-size: 12px;
  font-weight: 500;
  border: 1px solid #c9c9c9;
  border-radius: 13px;
  overflow: hidden;
}

.nav-pills .nav-link {
  border-radius: 0px;
  width: 172px;
  height: 26px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pills-list-tab {
  border-right: 1px solid #c9c9c9;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #ffffff;
  background-color: #f28234;
}

.option_sorting {
  display: flex;
  padding: 8px 16px;
  background-color: rgba(255, 255, 255, 0.4);
}
.btn {
  font-size: 12px;
  font-weight: 500;
  padding: 6px 2px 5px 12px;
  width: 168px;
  height: 26px;
  border: 1px solid #c9c9c9;
  border-radius: 13px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu2 {
  margin-left: 9px;
}

.list_content {
  height: 679px;
  overflow: scroll;
  overflow-x: hidden;
}

.image_list {
  position: relative;
  width: 343px;
  height: 246px;
  margin: 16px 14px 0 14px;
  border-radius: 13px;
  overflow: hidden;
}

.image_list.active {
  border: 4px solid #f28234;
}

.image_list svg {
  position: absolute;
  top: 5px;
  left: 310px;
  opacity: 0.6;
  cursor: pointer;
}

.image_info {
  position: absolute;
  top: 190px;
  width: 100%;
  height: 56px;
  padding: 11px 0 14px 10px;
  display: flex;
  background-color: #ffffff;
}

.image_info img {
  width: 31px;
  height: 31px;
  margin-right: 10px;
  border-radius: 16px;
}

.image_title {
  font-size: 12px;
  font-weight: 500;
  color: #313233;
}

.image_name {
  font-size: 10px;
  font-weight: 500;
}

.list_content::-webkit-scrollbar {
  width: 4px;
  opacity: 0.2;
  border-radius: 4px;
}
.list_content::-webkit-scrollbar-thumb {
  background-color: rgb(163, 163, 163);
  border-radius: 4px;
}
.list_content::-webkit-scrollbar-track {
  background-color: rgb(202, 201, 201);
  border-radius: 4px;
}

.bottom_content {
  width: 100%;
  height: 51px;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom_content img {
  cursor: pointer;
}
.dark_background {
  width: 375px;
  height: 828px;
  background-color: #313233;
  opacity: 0.3;
  position: absolute;
  top: -50px;
  display: none;
}
