* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "NanumSquare", sans-serif !important;
}

.container {
  border: 1px solid black;
  height: 100vh;
  padding: 0 36px;
}

.row:nth-child(1) {
  height: 20%;
}

.row:nth-child(2) {
  height: 80%;
}

#logo {
  border: 1px solid black;
  position: relative;
}

#logo img {
  border: 1px solid black;
}

#logo span {
  position: absolute;
  bottom: 0;
  font-size: 12px;
  font-weight: 500;
}

.title {
  font-weight: 800;
  color: #ff8836;
  margin-bottom: 15px;
}

.input {
  margin-bottom: 10px;
}

.input label {
  font-weight: 800;
}

.input input {
  border: 1px solid #707070;
  border-radius: 5px;
  padding-left: 5px;
}

.coordinator_info {
  margin-top: 40px;
}

button[type="submit"] {
  display: block;
  width: 100%;
  height: 41px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #ff8836;
  font-weight: bold;
  padding: 10px auto;
  margin-top: 40px;
}

.row {
  border: 1px solid darkcyan;
}
