* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "NanumSquare", sans-serif !important;
  background-color: #fafbfc;
}

.container {
  height: 100vh;
  padding: 0 36px;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_img {
  position: relative;
}
.logo_img span {
  position: absolute;
  bottom: 30px;
  right: -5px;
  font-size: 12px;
  font-weight: 600;
}

.input_container {
  display: flex;
}
.title {
  font-size: 16pt;
  font-weight: 800;
  color: #ff8836;
  margin-bottom: 15px;
}

.input {
  margin-bottom: 10px;
  width: 100%;
  height: 36pt;
}

label {
  width: 70px;
  margin-right: 8px;
  font-size: 14pt;
  font-weight: 600;
  margin-top: 6px;
}

input {
  font-size: 12pt;
  border: 1px solid #707070;
  border-radius: 18pt;
  padding-left: 10px;
  width: 100%;
  height: 30pt;
  outline: none;
}

.coordinator_info {
  margin-top: 30px;
}

#location {
  width: 42pt;
  height: 30pt;
  margin-left: 5px;
  border: 1px solid #707070;
  border-radius: 25px;
  background-color: white;
  color: #ff8836;
}

button[type="submit"] {
  display: block;
  width: 100%;
  height: 41pt;
  border: none;
  border-radius: 21pt;
  color: white;
  background-color: #ff8836;
  font-weight: bold;
  padding: 10px auto;
  font-size: 18pt;
  margin-top: 40px;
}

#_name {
  width: 87px;
}

@media (min-width: 460px) {
  .container {
    width: 460px;
  }
}
@media (min-width: 696px) {
  .container {
    width: 696px;
  }

  button[type="submit"] {
    margin-top: 140px;
  }
  #location {
    width: 38pt;
  }
}
