/* modal */
.par_back_img {
  background: url("img/사각형\ 1653.png");
  width: 311px;
  height: 197px;
  position: absolute;
  z-index: 201;
  top: 250px;
  left: 30px;
  display: none;
}

.x_img {
  margin-top: 16px;
  background: url("img/modal_icon_expel.png");
  width: 74px;
  height: 74px;
  margin-left: 120px;
}
.yes_no {
  margin-top: 12.5px;
  display: flex;
  justify-content: center;
}

.crap_img {
  margin-top: 16px;
  background: url("img/modal_icon_deleteall.png");
  width: 74px;
  height: 74px;
  margin-left: 120px;
}
.del_img {
  margin-top: 16px;
  background: url("img/modal_icon_delete_imageorvideo.png");
  width: 74px;
  height: 74px;
  margin-left: 120px;
}

.yes_no img {
  cursor: pointer;
}
