* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "NanumSquareRound", sans-serif;
  background-color: rgb(165, 165, 165);
}

ul,
li {
  list-style: none;
  padding: 0;
}

.search_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  width: 1200px;
  height: 675px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 1100px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0;
}

.search_box {
  width: 790px;
  height: 36px;
  border-radius: 18px;
  border: 1px solid #dadce0;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.search_box .option {
  width: max-content;
  border-right: 1px solid #dadce0;
  position: relative;
  top: -1px;
}
.search_box .option select {
  outline: none;
  border: none;
  width: 204px;
  height: 36px;
  font-size: 14px;
  font-weight: bold;
  color: #313233;
  text-align-last: center;
  margin-right: 7px;
}
.search_box .bar {
  position: relative;
}
.search_box .bar input {
  outline: none;
  border: none;
  width: 586px;
  height: 36px;
  font-size: 14px;
  font-weight: bold;
  color: #313233;
  padding-left: 15px;
}

.search_box .bar input + img {
  position: absolute;
  right: 12px;
  top: 4px;
  cursor: pointer;
}

.view_option select {
  border: none;
  outline: none;
  width: 105px;
  font-size: 14px;
  font-weight: bold;
  color: #313233;
}

.close_btn {
  cursor: pointer;
}

/* content */
.content {
  width: 1100px;
  height: 519px;
  overflow-y: scroll;
  padding-right: 25px;
}
.content_ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content_list {
  margin-bottom: 20px;
}

.content_list .content_num {
  font-size: 20px;
  font-weight: bold;
  color: #313233;
}

.content_list .content_box {
  border: 1px solid #dadce0;
  border-radius: 10px;
  width: 343px;
  height: 300px;
  -webkit-box-shadow: 0px 5px 10px -3px #c4c4c4;
  box-shadow: 0px 5px 10px -3px #c4c4c4;
  overflow: hidden;
}

.content_list .content_box img {
  width: 343px;
  height: 191px;
  object-fit: contain;
  background-color: black;
}
.content_list .content_box .content_info {
  font-family: "Roboto", "serif";
  border-bottom: 1px solid #dadce0;
  display: flex;
  align-items: center;
  width: 90%;
  margin: 10px auto 0 auto;
  padding-bottom: 10px;
}
.content_list .content_box .content_info img {
  width: 31px;
  height: 31px;
  border-radius: 15px;
  margin-right: 10px;
}

.content_list .content_box .content_info .content_detail {
  display: flex;
  align-items: center;
}

.content_list .content_box .content_info .title {
  font-size: 16px;
  font-weight: 500;
  color: #313233;
}

.content_list .content_box .content_info .name,
.content_list .content_box .content_info .date,
.content_list .content_box .content_info .line {
  font-size: 12px;
  font-weight: 500;
  color: #919499;
}
.content_list .content_box .content_info .line {
  height: 14px;
  border-left: 1px solid #919499;
  margin: 0 6px;
}

.content_list .content_box .content_description {
  font-size: 12px;
  font-weight: bold;
  color: #313233;
  margin: 0 auto;
  width: 90%;
  margin-top: 12px;
}
.content::-webkit-scrollbar {
  height: 511px;
  width: 4px;
  opacity: 0.2;
  border-radius: 4px;
}
.content::-webkit-scrollbar-thumb {
  background-color: rgb(163, 163, 163);
  border-radius: 4px;
}
.content::-webkit-scrollbar-track {
  background-color: rgb(202, 201, 201);
  border-radius: 4px;
}
