* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "serif";
  background-color: transparent;
  color: #313233;
}

.dark_background_general {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #313233;
  opacity: 0.3;

  z-index: 200;
  display: block;
}
.modal_container {
  position: absolute; /*Can also be `fixed`*/
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
/* modal_block */
.modal_block {
  position: absolute; /*Can also be `fixed`*/
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
  /* max-width: 100%;
  max-height: 100%; */
  overflow: auto;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 400;
}

/* modal_image */
.modal_block .modal_image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal_block .modal_image .file_name {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

/* modal_string */
.modal_string {
  text-align: center;
}

/* modal_input */
.modal_input {
  width: 90%;
}

.modal_input .input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.modal_input .input input {
  width: 75%;
  height: 20px;
  outline: none;
  border: none;
  border-radius: 20px;
  padding-left: 10px;
  font-size: 12px;
  font-weight: 500;
}

/* modal_button */
.modal_block .modal_button,
.modal_block .modal_one_button {
  width: 100%;
  display: flex;
  justify-content: center;
}

.modal_block .positive {
  background-color: rgb(238, 183, 146);
  border-radius: 17px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 5px;
  /* button 2개 일때 주황색 버튼 너비 */
  width: 45%;
}

.modal_block .negative {
  background-color: rgb(221, 217, 216);
  border-radius: 17px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 5px;
  /* button 2개 일때 흰색 버튼 너비 */
  width: 45%;
}

.modal_block .modal_one_button .positive {
  /* button 1개 일때 주황색 버튼 너비 */
  width: 90%;
}

.modal_block .modal_one_button .negative {
  /* button 1개 일때 흰색 버튼 너비 */
  width: 90%;
}
