* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "serif";
  background-color: transparent;
}

ul,
li {
  list-style: none;
  padding: 0;
}

.imageTab {
  position: absolute;
  top: 0;
  right: 0;
}
.tri {
  position: relative;
  left: 228px;
  width: 0px;
  height: 0px;
  border-top: 5px solid none;
  border-bottom: 5px solid #ffffff;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
.image_container {
  width: 375px;
  height: 823px;
  border-radius: 26px;
  overflow: hidden;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  background-color: rgba(255, 255, 255, 0.7);
}

.top-content {
  height: 50px;
  padding: 16px 16px 8px 16px;
  border-bottom: 1px solid #c9c9c9;
  background-color: rgba(255, 255, 255, 0.4);
}

.tab-content {
  position: absolute;
  top: 50px;
}

.nav {
  width: max-content;
  font-size: 12px;
  font-weight: 500;
  border: 1px solid #c9c9c9;
  border-radius: 13px;
  overflow: hidden;
}

.nav-pills .nav-link {
  border-radius: 0px;
  width: 172px;
  height: 26px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pills-list-tab {
  border-right: 1px solid #c9c9c9;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #ffffff;
  background-color: #f28234;
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 13px 8px 16px;
  background-color: rgba(255, 255, 255, 0.4);
}

.all_select_option {
  position: relative;
  margin-right: 7px;
  width: 60px;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.background {
  position: absolute;
  z-index: -1;
  width: 60px;
  height: 25px;
}

.separate_bar {
  border-right: 1px solid #c9c9c9;
  height: 18px;
}

.dropdown {
  outline: none;
  font-size: 12px;
  font-weight: 500;
  color: #313233;
  width: 133px;
  height: 26px;
  padding: 2px 5px 0 12px;
  border: 1px solid #c9c9c9;
  border-radius: 13px;
  appearance: none;
  background: url(../img/dropdown_button.png) no-repeat 98% 50%;
}

.list_content {
  width: 375px;
  height: 673px;
  overflow: hidden;
}

/* column_1 */
.column_1 .image_list {
  position: relative;
  width: 343px;
  height: 246px;
  margin: 16px auto 0 auto;
  border-radius: 13px;
  overflow: hidden;
}

.column_1 .image_list.active {
  border: 4px solid #f28234;
}
.column_1 iframe {
  width: 345px;
  height: 194px;
}
.column_1 .image_delete_btn {
  background-image: url(../img/사각형\ 1379.png);
  width: 26px;
  height: 26px;
  text-align: center;
  position: absolute;
  color: black;
  top: 7px;
  left: 310px;
  cursor: pointer;
}

.column_1 .image_delete_btn img {
  width: 12px;
  height: 12px;
}

.column_1 .image_list.active .image_delete_btn {
  top: 5px;
  left: 305px;
}

.column_1 .image_info {
  position: absolute;
  top: 190px;
  width: 100%;
  height: 56px;
  padding: 11px 0 14px 10px;
  display: flex;
  background-color: #ffffff;
}

.column_1 .image_info img {
  width: 31px;
  height: 31px;
  margin-right: 10px;
  border-radius: 16px;
}

.column_1 .image_title {
  font-size: 12px;
  font-weight: 500;
  color: #313233;
}

.column_1 .image_name {
  font-size: 10px;
  font-weight: 500;
  color: rgb(131, 131, 132);
}

/* column_2 */
.column_2 {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}
.column_2 .image_list {
  position: relative;
  width: 165px;
  height: 148px;
  margin: 16px 5px 0 5px;
  border-radius: 13px;
  overflow: hidden;
}
.column_2 iframe {
  width: 167px;
  height: 94px;
}

.column_2 .image_list.active {
  border: 2px solid #f28234;
}

.column_2 .image_delete_btn {
  background-color: #ffffff;
  border: 1px solid #c9c9c9;
  border-radius: 11px;
  width: 22px;
  height: 22px;
  text-align: center;
  position: absolute;
  color: black;
  top: 7px;
  left: 137px;
  cursor: pointer;
}

.column_2 .image_delete_btn img {
  width: 10px;
  height: 10px;
  position: relative;
  top: -2px;
}

.column_2 .image_list.active .image_delete_btn {
  left: 135px;
}

.column_2 .image_info {
  position: absolute;
  top: 93px;
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
}

.column_2 .image_info img {
  display: none;
}

.column_2 .image_title {
  font-size: 12px;
  font-weight: 500;
  color: #313233;
}

.column_2 .image_name {
  font-size: 10px;
  font-weight: 500;
  color: rgb(131, 131, 132);
}

.image_scroll_veil {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.image_voting_number {
  position: absolute;
  text-align: center;
  padding-top: 3px;
  font-size: 11px;
  font-weight: bold;
  top: 7px;
  left: 40px;
  width: 66px;
  height: 22px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  display: none;
}

.list_content::-webkit-scrollbar {
  width: 4px;
  opacity: 0.2;
  border-radius: 4px;
}
.list_content::-webkit-scrollbar-thumb {
  background-color: rgb(163, 163, 163);
  border-radius: 4px;
}
.list_content::-webkit-scrollbar-track {
  background-color: rgb(202, 201, 201);
  border-radius: 4px;
}

.bottom_content {
  width: 100%;
  height: 51px;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom_content img {
  cursor: pointer;
  border-radius: 15px;
}

#button_after_voting,
#button_voting,
#button_duplicable_voting_active {
  display: none;
}

.dark_background {
  width: 375px;
  height: 100%;
  background-color: #313233;
  opacity: 0.3;
  position: absolute;
  top: 0;
  z-index: 200;
  display: none;
}

#selected_check:checked,
#all_check:checked {
  background-color: #f28234;
  border-color: #f28234;
}
#selected_check {
  position: absolute;
  top: 0px;
  left: 8px;
  width: 22px;
  height: 22px;
  margin-top: 6px;
  border-radius: 5px;
}
#selected_check_label,
#all_check,
#all_check_twin {
  z-index: 200;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 5px;
}

#all_check,
#all_check_twin {
  width: 22px;
  height: 22px;
  margin-top: 6px;
  border-radius: 5px;
}

.fixed-bottom,
.fixed-top {
  z-index: 0;
}
